
body{

background-color: skyblue;

}
.row {
    width: 100%;
    /* consider h1 height */
    height: ;
}
.col {
    margin: 0 3px;
    /* consider column count (here 2) and margin (2 * 3px) */
    width: ;
    height: 100%;
    float: left;
}

textarea {
    display: block;
    /* only subtract margin, padding and border of textarea */
    width: 
    /* additionally consider label */
    height: 
    margin: 2px 0;
    padding: 1px;
    border: 1px solid;
    resize: none;
}